a {
    color: blue;
    text-decoration: none;
}
body{
    background-color: whitesmoke;
    color: black;
    font: 300,bold ;
    text-align: center;
}
h2{
    color: #075AAB;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

h3{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

footer{
    margin-top: 2rem;
    margin-bottom: 2rem;
}